[submodule "genes/org-mode"]
	path = genes/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "genes/auctex"]
	path = genes/auctex
	url = git://github.com/jwiegley/auctex.git
[submodule "genes/ess"]
	path = genes/ess
	url = git://github.com/emacs-ess/ESS.git
[submodule "genes/SuperMan"]
	path = genes/SuperMan
	url = git://github.com/kkholst/SuperMan.git
[submodule "genes/ssh-el"]
	path = genes/ssh-el
	url =  git://github.com/ieure/ssh-el.git
[submodule "genes/helm"]
	path = genes/helm
	url =  git://github.com/emacs-helm/helm.git
[submodule "genes/pandoc-mode"]
	path = genes/pandoc-mode
	url = git://github.com/joostkremers/pandoc-mode
[submodule "genes/google-translate"]
	path = genes/google-translate
	url = git://github.com/manzyuk/google-translate
