[submodule "genes/ess"]
	path = genes/ess
	url = git://github.com/emacs-ess/ESS.git
[submodule "genes/SuperMan"]
	path = genes/SuperMan
	url = git://github.com/kkholst/SuperMan.git
[submodule "genes/ssh-el"]
	path = genes/ssh-el
	url = git://github.com/ieure/ssh-el.git
[submodule "genes/helm"]
	path = genes/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "genes/pandoc-mode"]
	path = genes/pandoc-mode
	url = git://github.com/joostkremers/pandoc-mode
[submodule "genes/google-translate"]
	path = genes/google-translate
	url = git://github.com/manzyuk/google-translate
[submodule "google-translate"]
	path = google-translate
	url = git://github.com/manzyuk/google-translate
[submodule "emacs-iedit"]
	path = emacs-iedit
	url = git://github.com/eproxus/emacs-iedit
[submodule "genes/emacs-iedit"]
	path = genes/emacs-iedit
	url = https://github.com/eproxus/emacs-iedit.git
[submodule "genes/emacs-sos"]
	path = genes/emacs-sos
	url = https://github.com/omouse/emacs-sos.git
[submodule "genes/emacs-epackage--lib-header-button"]
	path = genes/emacs-epackage--lib-header-button
	url = https://github.com/jaalto/emacs-epackage--lib-header-button.git
[submodule "genes/ido-ubiquitous"]
	path = genes/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous
[submodule "genes/deft"]
	path = genes/deft
	url = git://jblevins.org/git/deft.git
[submodule "genes/auto-dictionary-mode"]
	path = genes/auto-dictionary-mode
	url = https://github.com/nschum/auto-dictionary-mode.git
[submodule "genes/auctex"]
	path = genes/auctex
	url = git://git.sv.gnu.org/auctex.git
[submodule "genes/org-mode"]
	path = genes/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "genes/use-package"]
	path = genes/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "genes/mic-paren"]
	path = genes/mic-paren
	url = git@github.com:emacsmirror/mic-paren.git
[submodule "genes/mark-down"]
	path = genes/mark-down
	url = git@github.com:defunkt/markdown-mode.git
[submodule "genes/orgmode-accessories"]
	path = genes/orgmode-accessories
	url = https://github.com/chasberry/orgmode-accessories.git
